.cards {
  padding-top: 20px;
  margin: 0 auto; /* matches your spacing */
  box-sizing: border-box;
  border-radius: 12px;
  overflow: hidden;
}

.cards__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
