.card {
  padding-top: 20px;
  margin: 0 auto; /* matches your spacing */
  box-sizing: border-box;
  border-radius: 12px;
  overflow: hidden;
}


.card__image {
  display: block;
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 4 / 3;   /* or 16/9, or 1/1 */
  height: auto;
  object-fit: cover;
 
}

.card__title {
  font-size: 20px;
}

.card__like-btn {
  background-image: url("../images/heart.svg");
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
