.page {
  background-color: #fcf5e5;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  min-height: 100vh;
}

.page__section {
  max-width: 1280px;
  margin-inline:  auto;
  padding-inline: clamp(12px, 4vw, 32px);
  box-sizing: border-box;
}
