.card {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding-top: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  max-width: 413px;
  width: 100%;
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  cursor: pointer;
  
}

.card__image:hover {
   transition: transform .2s ease, opacity .2s ease;
  z-index: 0;
}
  

.card__content {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  padding: 0 8px;
  min-width: 0;
  width: 100%;
}

.card__like-group {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card__title {
  flex: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}

.card__like-count {
  font-size: 16px;
  line-height: 1.2;
  min-width: 1.5ch;
  text-align: right;
  color: #000;
  display: inline-block;
}

.card__like-btn {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background: transparent url("../images/heart.svg") no-repeat center / contain;
  border: none;
  cursor: pointer;
  opacity: 1;
  min-width: 24px;
  min-height: 24px;
}

.card__like-btn:hover {
  opacity: 0.3;
}
.card__like-btn_liked{
  background-image: url("../images/redheart.svg");
  opacity: 1;
}

.card__like-btn_liked:hover{
  opacity: 0.4;
}

.card__delete-btn {
  position: absolute;
  right: 10px;
  width: 32px;
  height: 32px;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/Tc.default.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: transform .2s ease, opacity .2s ease;
}

.card__delete-btn:hover,
.card__delete-btn:focus-visible {
  opacity: 0.8;
  transform: scale(1.05);
  background-image: url("../images/TC.hover.svg");
}


/* Mobile alignment fix for 320px to 630px */
@media screen and (max-width: 630px) and (min-width: 320px) {
  .card {
    max-width: 288px;
  }
  
  .card__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
